:root {
  --color-primary: #121212;
  --color-primary-highlight: #282828;
  --color-secondary: #fff;
  --color-tertiary: #b3b3b3;
  --color-accent: #1ed760;
  --color-on-primary: var(--color-secondary);
  --color-on-accent: #000;
  --color-on-primary-highlight: var(--color-secondary);

  --height-iphone-12-mini: 160mm;
  --width-iphone-12-mini: 77.2mm;

  --size-icon: 24;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: 'circularsp-book';
  font-size: 1.6rem;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  height: 100vh;
  display: grid;
  place-items: center;
}

button {
  cursor: pointer;
}

svg {
  display: flex;
}

ul {
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
}

button {
  border: none;
  background: transparent;
}

button.accent {
  color: var(--color-accent);
}

.primary {
  color: var(--color-secondary);
}

.secondary {
  color: var(--color-secondary);
  color: var(--color-tertiary);
}