:root {
  --color-primary: #121212;
  --color-primary-highlight: #282828;
  --color-secondary: #fff;
  --color-tertiary: #b3b3b3;
  --color-accent: #1ed760;
  --color-on-primary: var(--color-secondary);
  --color-on-accent: #000;
  --color-on-primary-highlight: var(--color-secondary);
  --color-options-blur: rgba(18, 18, 18, 0.2);

  --size-detail-cover: 16rem;
  --size-button: 4.8rem;
  --size-button-filled: 3.1rem;
  --size-button-bubble: 6.4rem;
  --size-button-bubble-mini: 4.8rem;
  --size-button-bubble-nano: 3.2rem;
  --size-img-mini: 6.4rem;
  --size-img-cover: 12.8rem;
  --height-nav: 9.2rem;
  --height-player-mini: 5.8rem;
  --height-nav-and-player-mini: calc(var(--height-nav) + var(--height-player-mini));
  --height-progressbar-mini: 0.2rem;
  --height-detail-header: 6rem;
  --width-scrolling-text-blur: 1rem;

  --padding-bottom-phone: 4.4rem;
  --padding-block-player: 1rem;
  --padding-block-library: 1rem;
  --padding-inline-player: 2.4rem;
  --padding-inline-library: 1.2rem;
  --padding-space-player: 0.6rem;

  --border-radius-image-cover: 1rem;
  --border-radius-image-mini: 0.4rem;
  --shadow-cover: drop-shadow(0 0 1px rgba(0, 0, 0, 0.3)) drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));

  --transition-bottom-panel: 0.25s cubic-bezier(0.26, 0.66, 0.43, 0.76);
  --transition-background: 200ms ease-in-out;

  --z-index-far: -1;
  --z-index-near: 1;
  --z-index-nearest: 2;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: 'circularsp-book';
  font-size: 1.6rem;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

// prevent scroll
html.no--scroll {
  height: 100%;
  overflow: hidden;

  body {
    position: relative;
    overflow: hidden;
  }
}

svg {
  display: flex;
}

ul {
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
}

.primary {
  color: var(--color-secondary);
}

.secondary {
  color: var(--color-secondary);
  color: var(--color-tertiary);
}

.text-accent {
  color: var(--color-accent);
}

.accent-area {
  background-color: var(--color-accent);
  color: var(--color-on-accent);
  padding: 1rem;
}

.highlight-area {
  background-color: var(--color-primary-highlight);
  color: var(--color-on-primary-highlight);
  padding: 1rem;
}

.no-scrollbar {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

.prevent-click {
  pointer-events: none;
}

.one-row {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.two-rows {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
