:root {
  --color-bg-dark: #000;
  --color-bg-spotify: #121212;
  --color-text-white: #fff;
  --color-text-grey: #a7a7a7;
  --color-spotify: #1db954;
  --color-active-player: #1ed760;
  --color-shell: #5e5566;
  --border-width-shell: 4px;
  --border-width-screen: 8px;
  /* deeppurple */
  --FIXME-font-weight-bold: bold;
  --font-size-iphone-top: 11px;
}

body {
  font-family: 'circularsp-book';
  // FIXME
  font-size: 16px;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  // FIXME 🌘
  // background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

button {
  cursor: pointer;
}

svg {
  display: flex;
}

ul {
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
}
