/* circularsp-book */
@font-face {
  font-family: 'circularsp-book';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/circularsp-book.woff2') format('woff2');
}

/* circularsp-title-bold */
@font-face {
  font-family: 'circularsp-title-bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/circularsp-title-bold.woff2') format('woff2');
}

.font-title {
  font-family: 'circularsp-title-bold';
  font-size: 2.4rem;
  line-height: normal;
}

.font-button-filled {
  font-size: 1.3rem;
}

.font-player-small {
  font-size: 1.2rem;
}

.font-player-mini {
  font-size: 1.3rem;
}

.font-player-mini__device {
  font-size: 1.1rem;
}

.font-list__owner {
  font-size: 1.4rem;
}

.font-list__owner,
.font-list__title {
  line-height: 2.2rem;
}

.font-collection-detail-header {
  font-family: 'circularsp-title-bold';
}

.font-collection-detail-title {
  font-family: 'circularsp-title-bold';
  font-size: 2.4rem;
  line-height: 1.1;
}

.font-collection-detail {
  color: var(--color-tertiary);
  font-size: 1.3rem;
}

.font-collection-detail-owner {
  font-family: 'circularsp-title-bold';
  font-size: 1.4rem;
}

.font-collection-detail-year {
  font-size: 1.4rem;
  color: var(--color-tertiary);
}

.font-bottom-panel-small {
  font-family: 'circularsp-title-bold';
  font-size: 1.3rem;
}

.font-list-sort-small {
  font-size: 1.5rem;
}

.font-search-input-focus {
  font-size: 1.4rem;
}
