/* circularsp-book */
@font-face {
  font-family: 'circularsp-book';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/circularsp-book.woff2') format('woff2');
}

/* circularsp-title-bold */
@font-face {
  font-family: 'circularsp-title-bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/circularsp-title-bold.woff2') format('woff2');
}

/* circularsp-title-black */
@font-face {
  font-family: 'circularsp-title-black';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/circularsp-title-black.woff2') format('woff2');
}

.font-1_1 {
  font-size: 1.1rem;
}

.font-1_2 {
  font-size: 1.2rem;
}

.font-1_3 {
  font-size: 1.3rem;
}

.font-1_4 {
  font-size: 1.4rem;
}

.font-1_5 {
  font-size: 1.5rem;
}

.font-1_8 {
  font-size: 1.8rem;
}

.font-2_4 {
  font-size: 2.4rem;
}

.font-bold {
  font-family: 'circularsp-title-bold';
}

.font-black {
  font-family: 'circularsp-title-black';
}
